<!DOCTYPE html>
<html lang="en">
    <head>
        <meta char="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Scraping Mars</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
     
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<body>
<!--scrape button-->
<div class="container">
    <div class="jumbotron text-center">
        <h1>Mission to Mars</h1>
        <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>
</div>

<!-- Mars Latest News -->
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-7 col-lg-7">
            <h1>Latest Mars News</h1>
            <br>
            <hr class="vertical-line">
            <h3>
             {{mars_data.news.title}}
            </h3>
            <p>
            {{mars_data.news.description}}
            </p>
        </div>
        </div>
    </div>
</div>

<!-- Mars Featured Image & Facts -->
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-7 col-lg-7">
            <h1>Featured Mars Image</h1>
            <!-- <br> -->
            <hr class="vertical-line">
            <div>
                <img src="{{mars_data.image}}", class="img-fluid", alt="Featured Image"> 
            </div>
        </div>
       
        <div class="col-sm-8 col-md-4 col-lg-4">
            <h3>Mars Facts</h3>
            <!-- <br> -->
            <hr class="vertical-line">
                {{mars_data.facts|safe}}
            </div>
        </div>
    </div>
    </div>
</div>



    <div class="row", style="text-align: center;">
        <h1 class="heading text-center">Mars Hemispheres</h1>
        <hr class="vertical-line">
        <!-- fist picture -->
        <div class="col-md-6">
            <div class="col-md-12", style="text-align: center;">
                 <img src="{{mars_data.hemisphere[0]['img_url']}}", class="img-fluid",
                   style="max-width: 80%;", alt="{{mars_data.hemisphere[0]['title']}}"> 
                <div class="caption "style="font-weight: bold;">
                    {{mars_data.hemisphere[0]['title']}}
                </div> 
            </div>
        </div>
       <!-- second picture -->
        <div class="col-md-6">
            <div class="col-md-12", style="text-align: center;">
                <img src="{{mars_data.hemisphere[1]['img_url']}}", class="img-fluid",
                 style="max-width: 80%;", alt="{{mars_data.hemisphere[1]['title']}}"> 
                    <div class="caption "style="font-weight: bold;">
                        {{mars_data.hemisphere[1]['title']}}
                    </div> 
            </div>
        </div>
    </div>

    <!-- second row -->
    <div class="row", style="text-align: center;">
        <!-- third picture -->
        <div class="col-md-6">
            <div class="col-md-12", style="text-align: center;">
                <img src="{{mars_data.hemisphere[2]['img_url']}} ", class="img-fluid",
                 style="max-width: 80%;", alt="{{mars_data.hemisphere[2]['title']}}"> 
                     <div class="caption "style="font-weight: bold;">
                        {{mars_data.hemisphere[2]['title']}}
                    </div> 
            </div>
        </div>
       <!-- fourth picture -->
        <div class="col-md-6">
            <div class="col-md-12", style="text-align: center;">
                <img src="{{mars_data.hemisphere[3]['img_url']}}", class="img-fluid",
                 style="max-width: 80%;", alt="{{mars_data.hemisphere[3]['title']}}"> 
                    <div class="caption "style="font-weight: bold;">
                        {{mars_data.hemisphere[3]['title']}}
                    </div> 
            </div>
        </div>
    </div>
    <!-- </div> -->
<!-- </div> -->


</body>
</html>